.header {
    text-align: center;
}
.posts {
    display: flex;
    flex-direction: column;
    padding: 0 30px ;
}
.post {
    padding: 5px 30px;
    border: solid 2px black;
}
.date {
    color: #7c7c7c83;
    font-weight: 400;
}
